<div class="catalog-card">
  <div class="swiper js-colors-slider">
    <ul class="swiper-wrapper">
      {{#each data.colors}}
      <li class="swiper-slide">
        <div class="catalog-card__image-wrapper">
          {{#if this.image}}
          <img class="lazyload" data-src="{{this.image}}" alt="Catalog Image">
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="catalog-card__heading-block">
    <h3 class="catalog-card__heading">{{data.title}}</h3>
    <div class="catalog-card__price-block">
      <span class="catalog-card__price">{{data.price}}</span>
      <span class="catalog-card__price-label">руб / м²</span>
    </div>
  </div>
  <ul class="catalog-card__colors">
    {{#each data.colors}}
    <li>
      <button class="catalog-card__color" type="button" style="background-color: {{this.color}};" title="{{this.name}}"
        data-color="{{this.name}}"></button>
    </li>
    {{/each}}
  </ul>
  <div class="catalog-card__bottom">
    <button class="js-set-color js-create-hidden-inputs button" type="button" data-modal="#order" data-block="Каталог"
      data-color="js" data-product="{{data.title}}">
      Заказать
    </button>
    <a class="button --transparent" href="#">Подробнее</a>
  </div>
</div>