<div class="manager">
  <div class="manager__image-wrapper">
    <img class="lazyload" data-src="{{data.image}}" alt="Manager">
  </div>
  <div class="manager__info">
    <span class="manager__name">{{data.name}}</span>
    <span class="manager__label">{{data.label}}</span>
    {{#if data.button}}
    <button class="button manager__button" type="button" data-modal="{{data.button.modalId}}"
      data-manager="{{data.name}}">
      {{data.button.text}}
    </button>
    {{/if}}
  </div>
</div>
{{#if data.button}}
<button class="show-on-mobile button" type="button" data-modal="{{data.button.modalId}}" data-manager="{{data.name}}">
  {{data.button.text}}
</button>
{{/if}}