<div class="js-range-slider range-slider" data-min="{{data.min}}" data-max="{{data.max}}" data-step="{{data.step}}">
  <input type="hidden" name="{{data.name}}" value="{{data.initialValue}}">
  <div class="range-slider__slider"></div>
  <div class="range-slider__labels">
    <span class="range-slider__label">{{data.min}} м²</span>
    <span class="range-slider__label">{{data.max}} м²</span>
  </div>
</div>