{{#extend "section"}}
{{#content "heading-content"}}
<ul class="cases__tabs">
  {{#each data.items}}
  <li>
    <button class="cases__tab js-tab {{#if this.active}}active{{/if}}" type="button">{{this.name}}</button>
  </li>
  {{/each}}
</ul>
{{/content}}

{{#content "content"}}
<ul class="cases__bodies">
  {{#each data.items}}
  <li>
    <div class="cases__body js-body {{#if this.active}}active{{/if}}">
      <div class="cases__slider-wrapper">
        <div class="swiper js-init-mobile-slider">
          <ul class="swiper-wrapper cases__media">
            {{#each this.media}}
            <li class="swiper-slide">
              <a class="cases__media-link" {{#if this.video}}data-type="iframe" data-preload="false" {{/if}}
                href="{{#if this.video}}https://youtu.be/nT14mlv92t4{{else}}{{this.image}}{{/if}}"
                data-fancybox="case-{{../this.id}}" data-caption="Case">
                {{#if this.image}}
                <img class="lazyload" data-src="{{this.image}}" alt="Case">
                {{/if}}
                {{#if this.video}}
                <div class="cases__video-overlay"></div>
                <div class="cases__video-block">
                  <div>
                    <span class="cases__video-title">Смотреть видео</span>
                    <span class="cases__video-label">2:08</span>
                  </div>
                  {{> parts/play-button mod="--green"}}
                </div>
                {{/if}}
              </a>
            </li>
            {{/each}}
          </ul>
          {{> parts/pagination}}
        </div>
      </div>
      <div class="cases__result-block">
        <h3 class="cases__result-heading">Что сделано?</h3>
        <div class="cases__result-content">
          <div class="js-init-mobile-slider cases__result-slider-block">
            <div class="swiper">
              <ul class="swiper-wrapper cases__result-list">
                {{#each this.result.items}}
                <li class="swiper-slide">
                  <div class="cases__result">
                    <p>{{this.text}}</p>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
            {{> parts/navigation}}
          </div>
          <div class="cases__result-digit-block">
            <span class="cases__result-digit">20%</span>
            <div class="cases__result-digit-text">
              <p>Экономия по сравнению с аналогичными работами у конкурентов</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cases__bottom">
        <button class="button" type="button" data-modal="#order">
          Хочу так же
        </button>
        <a class="button --transparent" href="#">Все фото</a>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
{{/content}}
{{/extend}}